{% extends "index.html" %}

{% block content %}
<h1>{{ term.name }}</h1>
<article>
  <ul>
  {% for page in term.pages %}
  <li>
    <time>
      {{ page.date | date(format="%d/%m/%Y") }}
    </time>
    <a href="{{ page.permalink }}">
      {{ page.title }}
    </a>
  </li>
  {% endfor %}
  </ul>
</article>
{% endblock content %}
