<!DOCTYPE html>
<html lang="fr-fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ config.extra.author }}">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ get_url(path="favicon.png") }}"/>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}" />
    <link href="{{ get_url(path="rss.xml") }}" rel="feed" type="application/rss+xml" title="{{ config.title }}" />
  </head>

  <body>
    <nav>
      {% for item in config.extra.menu %}
      <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">{{ item.name }}</a>
      {% endfor %}
    </nav>
    <main>
    {% block content %}
    <h1>
      {{ config.extra.title }}
      <br>
      <small>
        {{ config.extra.subtitle }}
      </small>
    </h1>
    <article>
    {{ section.content | safe }}
    {% set section = get_section(path="blog/_index.md") %}
    <ul>
    {% for page in section.pages | slice(end=5) %}
    <li>
      <time>{{ page.date | date(format="%d/%m") }}</time>
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </li>
    {% endfor %}
    </ul>
    </article>
    {% endblock content %}
    <footer>
    {% block scripts %}
    {% endblock scripts %}
    {{ config.extra.footer | markdown(inline=true) | safe }}
    </footer>
    </main>
  </body>

</html>
